.connectbtn {
  margin-left: -6px;
  width: 110px;
  padding: 1px 0;
  background: #6c9d99;
  border-radius: 18px;
  color: white;
  text-align: center;
}

.mobileconnect {
  margin-left: 12px;
  width: 110px;
  padding: 1px 0;
  background: #6c9d99;
  border-radius: 18px;
  color: white;
  text-align: center;
}

.staticposition {
  position: absolute;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid img {
  width: 100%;
}

.submitbtn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #355176;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.center {
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

/* Is this on the usersCollection page?  */
